# Ignore these files & folders from version control:
bin/
brain/
builtin/
cache/
conversations/
knowledge/
log/
updater/
cli.log
history.jsonl
installation_id
last_check.timestamp

# Except:
!keybindings.json
!settings.json
